#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
    --primary: #4285F4;
    --error: #EA4335;
    --warning: #FBBC04;
    --success: #34A853;
}

.main {
    height: 100%;
    flex: 1;
    background: #191919;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(50,50,50,.1);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.close-solid {
    background: #EA433580;
    border: none;
    height: 50px;
    border-radius: 20px;
    width: 40%;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 10px;
    flex-shrink: 0;
    max-width: 200px;
}
.close-solid:hover {
    background: var(--error);
}
.save-solid {
    background: #34A85380;
    border: none;
    height: 50px;
    border-radius: 20px;
    width: 40%;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
    flex-shrink: 0;
    max-width: 200px;
}
.save-solid:hover {
    background: var(--success);
}

.close {
    height: 20px;
    width: 20px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    transition: opacity .2s;
    opacity: 0;
}
.close:hover {
    background: #555;
    border-radius: 50%;
}

.more {
    height: 20px;
    width: 20px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    transition: opacity .2s;
    opacity: 0;
}
.more:hover {
    background: #555;
    border-radius: 50%;
}

.add {
    align-self: center;
    height: 25px;
    width: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    transition: opacity .2s;
    margin-right: 15px;
    cursor: pointer;
}
.add:hover {
    background: #55555580;
    border-radius: 50%;
}