.forward-menu {
    background: #222;
    user-select: none;
    border-radius: 30px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    height: 50%;
    min-width: 400px;
    max-height: calc(fit-content);
    align-items: center;
    z-index: 10;
}
.forward-chats-container::-webkit-scrollbar {
    display: none;
}
.forward-chat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33333380;
    padding-top: 10px;
    padding-bottom: 10px;
}
.forward-chats-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.forwarding {
    height: 50px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}
.forwarding .close {
    opacity: 1;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.forwarding p {
    line-height: normal;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    padding-bottom: 3px;
    user-select: none;
}