.skeleton-content {
    background: #272727;
    height: 100%;
    width: 100%;
    display: flex;
}
.skeleton-sidebar {
    height: calc(100% - 20px);
    width: calc(20% - 20px);
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 300% 100%;
    animation: shimmer 2.5s infinite linear;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -100% 0; }
}

.skeleton-toolbar {
    height: calc(100% - 20px);
    width: calc(20% - 20px);
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 300% 100%;
    animation: shimmer 2.5s infinite linear;
    animation-delay: .3s;
}

.skeleton-center {
    height: 100%;
    flex: 1;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 15px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
}
.skeleton-topbar {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 300% 100%;
    animation: shimmer 2.5s infinite linear;
    animation-delay: .6s;
}

.skeleton-chat {
    width: calc(100% - 40px);
    height: 100%;
    margin-top: 20px;
    overflow: hidden;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 300% 100%;
    animation: shimmer 2.5s infinite linear;
    animation-delay: .9s;
}