.edit-profile {
    z-index: 10;
    user-select: none;
    background: #222;
    border-radius: 30px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    min-height: 75%;
    max-height: calc(fit-content);
    aspect-ratio: 1;
    align-items: center;
}
.edit-profile .title {
    height: 80px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.edit-profile .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 16px;
}
.edit-profile .field label {
    align-self: flex-start;
    font-size: .8em;
    color: #aaa;
}
.edit-profile input[type="text"], .edit-profile input[type="number"]{
    width: 100%;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    border: none;
    background: none;
    background: #272727;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.edit-profile input[type="text"]:focus, .edit-profile input[type="number"]:focus {
    border: 1px solid #777;
    background: #333;
}
.edit-profile input[type="checkbox"] {
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.edit-profile input[type="range"] {
    width: calc(100% - 20px);
}
.inner-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 10px;
}
/* Chrome, Edge, Safari */
.edit-profile input[type="number"]::-webkit-outer-spin-button,
.edit-profile input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.edit-profile input[type="number"] {
  -moz-appearance: textfield;
}