.settings {
    background: #222;
    user-select: none;
    border-radius: 30px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    height: 75%;
    max-height: calc(fit-content);
    aspect-ratio: 1;
    align-items: center;
    z-index: 10;
}
.settings .title, .forward-menu .title{
    height: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
}
.settings .section-title {
    width: 100%;
    border-bottom: 1px solid #333;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.settings .field {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    width: calc(100% - 10px);
    justify-content: center;
    margin-bottom: 10px;
}
.settings .field img {
    height: 30px;
    width: 30px;
}
.settings .field input {
    width: 100%;
    padding: 3px 10px 3px 10px;
    border: none;
    background: none;
    background: #272727;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.button-row {
    width: 100%;
    gap: 30px;
    display: flex;
}

.option {
    width: 100px;
    font-size: .8em;
    padding: 3px 8px 3px 3px;
    background: #222;
    border-radius: 8px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.option:hover {
    background: #333;
    cursor: pointer;
}
.option:last-child:hover {
    background: #ea433530;
    cursor: pointer;
}
.disabled {
    opacity: .3;
}