.sidebar {
    height: 100%;
    width: 20%;
    max-width: 300px;
    background: #222;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    background: #272727;
    position: relative;
    transition: width .2s;
}
.sidebar.hidden .search, .sidebar.hidden .chatList{
    display: none;
}
.sidebar.hidden {
    width: 45px;
}
.sidebar.hidden .sidebar-nav {
    justify-content: center;
}
.sidebar-nav {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.toggle-sidebar {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.toggle-sidebar:hover {
    background: #333;
    cursor: pointer;
}
.chatList::-webkit-scrollbar {
    display: none;
}
.chatList {
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.chatCard {
    height: 36px;
    width: 100%;
    text-align: left;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: .2s;
    border-radius: 9px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    transition: .1s;
}
.chatCard input {
    outline: none;
    border: none;
    background: transparent;
    font-size: .9em;
}
.chatCard:hover, .chatCard:focus-within {
    border-color: #555;
    background: #252525;
}
.chatCard:hover .more {
    opacity: 1;
    cursor: pointer;
}

.chatCard.active {
    background: #333;
}


.search {
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.search input {
    height: 40px;
    border: 1px solid #777;
    outline: none;
    width: 200px;
    border-radius: 20px;
    padding: 3px 15px 3px 15px;
    box-sizing: border-box;
    background: transparent;
}

#chat-menu {
    position: absolute;
    background: transparent;
    border-radius: 10px;
    display: none;
    padding: 5px;
    display: none;
    background: #222;
    border: 1px solid #333;
}
#chat-menu.visible{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.option {
    width: 100px;
    font-size: .8em;
    padding: 3px 8px 3px 3px;
    background: #222;
    border-radius: 8px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.option:hover {
    background: #333;
    cursor: pointer;
}
.option:last-child:hover {
    background: #ea433530;
    cursor: pointer;
}
.disabled {
    opacity: .3;
}