#welcome {
    position: absolute;
    background: #111;
    text-align: justify;
    bottom: 100px;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
    width: 50%;
    max-width: 500px;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    color: var(--error);
    border: 2px solid var(--error);
    display: flex;
    height: fit-content;
    z-index: 300;
}
#welcome .close {
    opacity: 1;
    cursor: pointer;
}
.close:hover {
    background: #222 !important;
}
.toprow {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.welcome-contents {
    flex: 1;
    height: fit-content;
    display: flex;
    justify-content: center;
}