#welcome {
    position: absolute;
    background: #111;
    text-align: justify;
    bottom: 100px;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
    width: 50%;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    color: #EA4335;
    border: 2px solid #EA4335;
    display: flex;
    height: fit-content;
}
#welcome:hover .close {
    opacity: 1;
    cursor: pointer;
}
.close:hover {
    background: #222 !important;
}
.toprow {
    margin-left: 10px;
    margin-right: 10px;
}
.welcome-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: fit-content;
}